body {
    background-color: #00BFFF; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 45px; 
    font-family: Arial, sans-serif; 
    color: black; 
    text-align: center; 
}

p {
    font-size: 32px; 
    font-family: Arial, sans-serif; 
    color: white; 
    padding-left: 20px; 
}

.section {
    background-color: #191970; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px; 
    color: white;  
}

.section img {
    border: 2px solid #000;"
    border-radius: 10px; 
}

button {
    background-color: #191970; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; 
}




