body {
    background-color: #191970; 
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px; 
}

.container {
    padding: 20px;
}

h2.section-title {
    font-size: 3rem;  
    color: white;
    text-align: center;
    margin-top: 20px;
}

.intro-paragraph,
.skills-paragraph,
.dev-paragraph,
.portfolio-paragraph {
    font-size: 2rem; 
    color: black;
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}

.intro-paragraph {
    margin-left: 0; 
}

.skills-paragraph {
    margin-left: 45px;
}

.portfolio-paragraph {
    margin-left: 0; 
}
.about-image,
.software-dev-image {
    border: 2px solid black; 
    border-radius: 10px;
    width: 100%;  
    max-width: 300px;  
    display: block;
    margin: 0 auto;  
}

.styled-button {
    background-color: #00BFFF;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2rem;  
    transition: background-color 0.3s ease, color 0.3s ease;
}

.styled-button:hover {
    background-color: #FF0000;
    color: white;
}

.section {
    margin: 20px;
    padding: 20px;
    background-color: #00BFFF;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.styled-link {
    text-decoration: none;
}
